/* RESET BÁSICO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY APP STYLE */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
  background: #f9f9f9;
  color: #111;
}

/* EVITAR ZOOM EN INPUTS (iPhone) */
input, button {
  font-size: 16px;
}

/* BOTONES TOUCH */
button {
  touch-action: manipulation;
}

/* SUAVIDAD GENERAL */
button, input {
  outline: none;
}

/* SCROLL SUAVE */
html {
  scroll-behavior: smooth;
}
/* EVITA SELECCIÓN MOLESTA EN BOTONES */
button {
  user-select: none;
}
input::placeholder {
  color: rgba(255,255,255,0.6);
}